@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
@import url('https://fonts.googleapis.com/css2?family=Jersey+15&family=Noto+Sans+KR:wght@100..900&display=swap');

@font-face {
  font-family: "neodgm";
  src: url("./fonts/neodgm.woff2") format("woff2"),
    url("./fonts/neodgm.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "neodgm"
}

html,
body {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background-image: url(./images/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 100%;
  opacity: 0.1;
  z-index: -2;
}

.backdrop {
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  position: absolute;
  backdrop-filter: blur(100px);
  z-index: -1;
}

#confetti {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 999;
}

.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.wrapper {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.canvas-wrap {
  position: relative;
}

.canvas-spinner-arrow {
  position: absolute;
  top: -14px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 15px;
  width: 50px;
  height: 50px;
  background-image: url(./images/spinner-stop-arrow.svg);
  /* background-position: 50%; */
  background-repeat: no-repeat;
  background-size: 50px;
}

.title {
  font-size: 25px;
  line-height: 25px;
  font-weight: bold;
  color: black;
}

.result-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 260px;
  height: 64px;
  padding: 20px 30px;
  background-color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(54, 54, 54, 1);
  color: rgba(54, 54, 54, 1);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 3px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.result-box > span {
  font-family: "neodgm"
}

canvas {
  /* rotate: -90deg; */
  pointer-events: none;
}

.right-area-title {
  font-size: 24px;
  line-height: 24px;
  font-weight: bold;
  margin-bottom: 15px;
}

.right-area {
  width: 520px;
  height: 100%;
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translateY(-50%);
  gap: 5px;
  border-left: 0.5px solid rgba(54, 54, 54, 0.1);
  background-color: rgba(255, 255, 255, 0.5);
  overflow: scroll;
  transition: right 1s ease;
}

.right-area::-webkit-scrollbar {
  width: 5px;
}

.right-area::-webkit-scrollbar-thumb {
  background-color: "#e97ba3";
}

.right-area.close {
  right: -520px;
}

.right-area-opener {
  display: flex;
  justify-content: center;
  align-items: center;
  writing-mode: vertical-lr;
  text-orientation: upright;
  letter-spacing: 5px;
  font-size: 20px;
  line-height: 20px;
  font-weight: bold;
  position: absolute;
  width: 40px;
  height: 70px;
  top: 50%;
  right: 519px;
  color: #e97ba3;
  transform: translateY(-50%);
  border-radius: 5px 0px 0px 5px;
  background-color: rgba(255, 255, 255, 0.5);
  border-left: 0.5px solid rgba(54, 54, 54, 0.1);
  border-top: 0.5px solid rgba(54, 54, 54, 0.1);
  border-bottom: 0.5px solid rgba(54, 54, 54, 0.1);
  background-image: url(./images/arrow-right.svg);
  background-position: 60% 50%;
  background-repeat: no-repeat;
  background-size: 20px;
  z-index: 5;
  transition: right 1s ease;
  cursor: pointer;
}

.right-area-opener.close {
  background-image: url(./images/arrow-left.svg);
  right: 0px;
}

.insert-area {
  height: 100%;
  padding: 60px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 5px;
}

.input-area {
  width: 100%;
  padding: 0px 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.product-info {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 2px;
}

.product-info > input[id="name"] {
  font-size: 14px;
  line-height: 14px;
  padding: 8px 10px;
  width: 270px;
  border: 1px solid rgba(54, 54, 54, 0.2);
  border-radius: 3px;
}

.product-info > input[id="number"] {
  text-align: center;
  font-size: 14px;
  line-height: 14px;
  width: 50px;
  border: 1px solid rgba(54, 54, 54, 0.2);
  border-radius: 3px;
}

.product-info > input[id="percent"] {
  text-align: center;
  font-size: 14px;
  line-height: 14px;
  width: 60px;
  border: 1px solid rgba(54, 54, 54, 0.2);
  border-radius: 3px;
}

.product-info input:focus {
  outline: none;
}

.product-info button {
  font-size: 14px;
  line-height: 14px;
  padding: 8px 10px;
  background-color: #e97ba3;
  border: none;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  transition: all 0.5s ease;
}

.product-info button:hover {
  background-color: #dc628f;
}

.add-btn {
  font-size: 14px;
  line-height: 14px;
  width: 448px;
  padding: 15px 0px;
  border: none;
  border-radius: 3px;
  background-color: #e97ba3;
  color: white;
  cursor: pointer;
  transition: all 0.5s ease;
}

.add-btn:hover {
  background-color: #dc628f;
}

.download-btn {
  font-size: 14px;
  line-height: 14px;
  width: 448px;
  padding: 15px 0px;
  border: none;
  border-radius: 3px;
  background-color: #e97ba3;
  color: white;
  cursor: pointer;
  transition: all 0.5s ease;
}

.download-btn:hover {
  background-color: #dc628f;
}

.rotate {
  opacity: 1;
  pointer-events: all;
}

.stop {
  opacity: 0;
  pointer-events: none;
}

.spinner-btn {
  background-image: -webkit-linear-gradient(top, #f4f1ee, #fff);
  background-image: linear-gradient(top, #f4f1ee, #fff);
  border-radius: 50%;
  box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.2), inset 0px 4px 1px 1px white,
    inset 0px -3px 1px 1px rgba(204, 198, 197, 0.5);
  float: left;
  height: 70px;
  margin: 0 30px 30px 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
  -webkit-transition: width height 0.1s linear;
  transition: width height 0.1s linear;
  font-size: 16px;
  cursor: pointer;
}

.spinner-btn::after {
  color: #e9e6e4;
  content: "";
  display: block;
  font-size: 30px;
  height: 30px;
  text-decoration: none;
  text-shadow: 0px -1px 1px #bdb5b4, 1px 1px 1px white;
  position: absolute;
  width: 30px;
}

.spinner-btn:hover {
  background-image: -webkit-linear-gradient(top, #fff, #f4f1ee);
  background-image: linear-gradient(top, #fff, #f4f1ee);
}

.spinner-btn:active {
  background-image: -webkit-linear-gradient(top, #efedec, #f7f4f4);
  background-image: linear-gradient(top, #efedec, #f7f4f4);
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.4), inset 0px -3px 1px 1px rgba(204, 198, 197, 0.5);
}

.spinner-btn:active:after {
  color: #dbd2d2;
  text-shadow: 0px -1px 1px #bdb5b4, 0px 1px 1px white;
}
